html {
    padding: 0;
    margin: 0;
}


.full-page {
    min-height: 100vh;
    height: 100%;
}


#heading:hover {
    background-color: #2C9ECC!important;

}

#line {
    border-left: 2px solid #DC3545;
    padding-left: 20px;
}

#line:hover {
    color: #2C9ECC!important;
}